body{
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    border: 0;
}

#superInfo{
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
}

#infoHero{
    width: 400px !important;
    max-height: 700px !important;
}

p{
    font-size: 1rem;
    line-height: normal;
}
